<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% if not_found %}
                <H1>Not found!</H1>
            {% else %}
                {% for state in states %}
                    <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
                    {% if state.cities %}
                        <UL>
                            {% for city in state.cities %}
                                <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                            {% endfor %}
                        </UL>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </UL>
    </BODY>
</HTML>

